#register_form.container {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

#register_form .input-unit {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#register_form label {
  font-size: 16px;
  font-weight: 700;
}

#register_form .required label::after {
  content: '*';
  color: red;
  margin-left: 4px;
}

#register_form input,
#register_form select {
  font-size: 16px;
  padding: 0.6em;
}

#register_form [aria-invalid='true'] {
  border-color: red;
}

#register_form input:read-only {
  background-color: lightgrey;
}

#register_form p {
  margin: 0;
}

#register_form p.error {
  color: red;
}

#register_form button {
  padding: 1em;
  border-radius: 2em;
  font-size: 16px;
  font-weight: 700;
}
